.container{
    text-align: center;
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #FFD56B;
    color: #333;
    margin-top: 50px;
}
input{
    height: 20px;
    padding: 15px 20px ;
    margin-top: 20px;
}
button{
    margin: 10px 0;
}
ul{
    padding-top: 10px;
    
}
li{
    padding: 5px 20px ;
    width: 350px;
    height: 40px;
    background-color: #54eaef;
    list-style-type: none;
    text-align: start;
    border-bottom: 2px solid #FF7B54;
    margin-top: 10px;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: .7s;
}
button{
    padding: 5px 25px;
    letter-spacing: 2px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 1px 2px 1px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: 0.3s ;
}
button:hover{
    background-color: #333;
    color: wheat;
}