*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 50px;
    box-shadow: 2px 3px 3px 2px rgba(17, 101, 122, 0.6);
    width: 100%;
    background: #555;
    color: white;
    height: 60px;
    font-size: 2rem;
}
.userList ul{
    margin-top: 40px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.single-user{
    background: rgba(0, 0, 0, 0.501);
    width: 30%;
    height: 270px;
    margin: 10px;
    
    color: white;
    border-radius: 20px;
    box-shadow: 3px 2px 3px 2px rgba(0, 0, 0, 0.4);
    position: relative;
    cursor: pointer;
}
.single-user img{
    background-position: center;
    
    display: flex;
    margin: 0px auto;
    margin-top: 20px;
    width: 100px;
    height: 100px;
    border-radius: 20px;
}
.user-info{
    margin: 20px;
    
}
.user-info h3{
    display: flex;
    justify-content: end;
    font-size: 22px;
    margin: 0 0 10px 0;
    position: left;
    color:brown;
}
.user-info h3 span{
    color: rgb(255, 156, 26);
} 
.user-info .user-mail
{
    font-size: 18px ;
    color: black;
    margin: 0 0 20px 0;
}
.user-info .user-location{
    display: flex;
    justify-content: center;
    color: blue;


}
/*

.userList ul li {
    list-style: none;
}
.single-user{
    display: flex;
    text-align: center;
    min-width:400px;
    background-color: #2d2b2b;
    border-radius: 10px;
    margin: 20px;
    padding: 10px ;
    color: #fff;
    font-size: 1rem;
}
.single-user img{
    margin-right:  20px;
    border-radius: 50%;
    width: 100px;
}
.user-ingo .user-email{
    margin: 10px 0;
}













 */
