.site-info{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title{
    font-size: 60px;
    background-color: aquamarine;
    color: black;
    width: 550px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.sub-title{
    margin-top: 20px;
    font-size: 25px;
    color: blue;
}