*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: rgb(1, 66, 109);
    width: 100%;
    height: 70px;
}
.nav_box{
    display: flex;
    justify-content: space-between;
    padding: 20px 180px;
}
.nav_box .my_shop{
    font-size: 25px;
    color: rgb(122, 219, 254);
    cursor: pointer;
}
.cart{
cursor: pointer;
}
.shop-icon{
    color: white;
    font-size: 30px;
}
.cart .number{
    position: relative;
    top: -15px;
    left: 3px;
    padding: 0 4px;
    background-color: red;
    color: white;
    font-weight: bolx;
    border-radius: 50%;
    font-size: 20px;
}
@media screen and (max-width: 570px) {
    .nav_box{
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    }
    .nav_box .my_shop{
    font-size: 20px;
    color: rgb(135, 207, 244);
    cursor: pointer;
    }
    .cart{
    cursor: pointer;
    }
    .shop-icon{
        color: white;
        font-size: 25px;
    }
    .cart .number{
        position: relative;
        top: -15px;
        left: 3px;
        padding: 0 2px;
        background-color: red;
        color: white;
        font-weight: bolx;
        border-radius: 30%;
        font-size: 15px;
    }
}
@media screen and (max-width: 368px) {
    .nav_box{
    display: flex;
    justify-content: space-between;
    padding: 16px 50px;
    }
    .nav_box .my_shop{
    font-size: 20px;
    color: rgb(70, 250, 163);
    cursor: pointer;
    }
    .cart{
    cursor: pointer;
    }
    .shop-icon{
        color: rgb(236, 111, 111);
        font-size: 25px;
    }
    .cart .number{
        position: relative;
        top: -15px;
        left: 3px;
        padding: 0 2px;
        background-color: rgb(239, 64, 241);
        color: rgb(0, 0, 0);
        font-weight: bolx;
        border-radius: 30%;
        font-size: 15px;
    }
}
@media screen and (max-width: 248px) {
    .nav_box{
    display: flex;
    justify-content: space-between;
    padding: 20px 12px;
    }
    .nav_box .my_shop{
    font-size: 20px;
    color: rgb(153, 203, 241);
    cursor: pointer;
    }
    .cart{
    cursor: pointer;
    }
    .shop-icon{
        color: rgb(236, 111, 111);
        font-size: 25px;
    }
    .cart .number{
        position: relative;
        top: -15px;
        left: 3px;
        padding: 0 2px;
        background-color: rgb(239, 64, 241);
        color: rgb(0, 0, 0);
        font-weight: bolx;
        border-radius: 30%;
        font-size: 15px;
    }
}